@import "../../../../styles/variables";


.Insights {
  .main-content {
    h2 {
      font-size: 24px;
      color: $primary;
    }
    p {
      font-size: 16px;
      font-weight: lighter;
      color: $opacity-black;
      margin: 5px 0;
    }


    .map-area {
      display: flex;
      justify-content: center;
      align-items: center;

      .image-container{
        max-width: 700px;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .secondary-content {
    padding: 0;
  }
}