// Colors

$primary: #037367;
$primary-light: #8dc0ba;
$secondary: #2699FB;
$tertiary: #D04925;
$white: #ffffff;
$white-like: #DADCE0;
$light-background: #F7F4F4;
$black: #000000;
$dark-text: #101212;
$opacity-black: rgba(0, 0, 0, 0.6);
$warning: #d0021b;
$gray: #707070;
$text-gray: #5A5858;
$lightgray: lightgray;