// Colors

$primary: #037367;
$primary-light: #8dc0ba;
$primary-lightest: #F2F8F7;
$secondary: #2699FB;
$secondary-light: #BCE0FD;
$tertiary: #D04925;
$golden: #D9A226;
$golden-light: #E2E2E2;
$white: #ffffff;
$white-like: #DADCE0;
$light-background: #F7F4F4;
$black: #000000;
$dark-text: #101212;
$light-text: #3F4443;
$text-gray: #5A5858;
$opacity-black: rgba(0, 0, 0, 0.6);
$warning: #d0021b;
$gray: #707070;
$lightgray: lightgray;
$lightgray-two: #BCBCBC;