@import "../../../../styles/variables";


.main-navigation {
  background-color: $primary;
  min-height: 83px;
  display: flex;
  justify-content: space-between;
  padding: 0 36px;

  .navigation-left {
    display: flex;
    align-self: center;

    .search-div {
      margin-left: 46px;
      .search-panel {
        height: 29px;
        width: 247px;
        background: $white 0% 0% no-repeat padding-box;
        border: 1px solid $white-like;
        border-radius: 20px;
        opacity: 1;
      }
    }
  }

  .navigation-right {
    display: flex;
    align-self: center;
    height: 83px;
    align-items: center;

    .nav-item {
      list-style: none;
    }
    .nav-link {
      padding: 0 40px;
      height: 100%;
      align-items: center;
      display: flex;
      color: $white;

      &.is-active {
        background-color: $white;
        color: $black;
      }
    }

  }
}