@import "../../../../styles/variables";

.sub-navigation {
  border-bottom: 1px solid lightgray;
  padding: 0 !important;
  position: sticky;
  z-index: 1020;
  background: white;
  top: 83px;

  .main-nav-menu {
    height: 100%;

    .login-panel {
      width: 100px;
      margin: 11px 10px;
    }

    .navbar-nav {
      height: 100%;
      margin: 0;
      align-items: center;

      .nav-item {
        padding: 25px;
      }
      .nav-link {
        text-transform: uppercase;
        font-size: 18px;
        color: $black;
        padding: 0;
        height: 100%;
        align-items: center;
        display: flex;

        &.is-active {
          font-weight: bold;
          border-bottom: 2px solid $black;
        }
      }
    }
  }

}
