@import "../../../../../styles/variables";

.content-box {
  padding: 80px 0;
  border-top: 1px solid $lightgray;

  h3 {
    font-size: 24px;
    font-weight: bold;
    color: $primary;
  }

  p {
    font-size: 16px;
    margin: 5px 0 40px 0;
    color: $opacity-black;
  }

  .content {
    height: 506px;
    background: $lightgray;
    border: 1px solid $gray;
  }
}