.footer{
	height: 20vh;
	width: 100%;
	position: relative;
	top: 100vh;
	/*background-color: black;*/
}
.foot1{
	position: relative;
	height: 30%;
	background-color: #5A5858;
}
.foot2{
	position: relative;
	height: 20%;
	background-color: #6B9073;
}
.foot3{
	position: relative;
	height: 50%;
	background-color: #F7F4F4;
	color: #6F6D6D;
	font-size: 8px;
}
.disclaimer{
	text-align: center;
	margin: 0 auto;
	width: 80%;
}