@import './styles/fonts';
@import './styles/bootstrap';
@import './styles/variables';
@import './styles/default';
@import './styles/components';

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar {
  width: 0px; /* For Chrome, Safari, and Opera */
}

::-webkit-scrollbar {
  display: none;
}

#element::-webkit-scrollbar {
  display: none;
}