@import './styles/fonts';
@import './styles/bootstrap';
@import './styles/variables';
@import './styles/default';
@import './styles/components';

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
